{% extends "base.html" %}

{% block content %}

<div class="row t20">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ url_for('main.add_food_to_log', log_id=log_id) }}" method="POST" role="form">

                    <div class="form-group">
                        <label>Add Food</label>
                        <div class="input-group">
                            <select class="form-control" name="food-select">
                                {% for food in foods %}
                                <option value={{ food.id }}>{{ food.name }}</option>
                                {% endfor %}
                            </select>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary" id="add-btn">
                                    <i class="glyphicon glyphicon-plus-sign"></i> Add Food
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row t20">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="lean-h text-black">
                    <i class="glyphicon glyphicon-calendar"></i> {{ date }}
                </h3>

                <div class="row">
                    <div class="col-lg-3">
                        <h4 class="lean-h">
                            Protein: &nbsp;<strong class="f25">{{ totals['protein'] }}</strong>
                        </h4>
                    </div>
                    <div class="col-lg-3">
                        <h4 class="lean-h">
                            Carbohydrates: <strong class="f25">{{ totals['carbs'] }}</strong>
                        </h4>
                    </div>
                    <div class="col-lg-3">
                        <h4 class="lean-h">
                            Fat: <strong class="f25">{{ totals['fats'] }}</strong>
                        </h4>
                    </div>
                    <div class="col-lg-3">
                        <h4 class="lean-h">
                            Calories: <strong class="f25">{{ totals['calories'] }}</strong>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 5%;">#</th>
                            <th>Name</th>
                            <th style="width: 10%;">Protein</th>
                            <th style="width: 16%;">Carbohydrates</th>
                            <th style="width: 10%;">Fat</th>
                            <th style="width: 12%;">Calories</th>
                            <th style="width: 20%;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in log_foods %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.protein }}</td>
                            <td>{{ item.carbs }}</td>
                            <td>{{ item.fats }}</td>
                            <td>{{ item.calories }}</td>
                            <td>
                                <a href="{{ url_for('main.delete_food_from_log', log_id=log_id, food_id=item.id) }}"
                                    class="btn btn-danger btn-xs">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}